In [2]:
import pandas as pd
x=pd.Series (['hey','hello','hi'])
print(x)

0      hey
1    hello
2       hi
dtype: object

In [3]:
import pandas as pd
date_series=pd.date_range(start='05-01-2021' , end='05-12-2021')
print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [4]:
import pandas as pd
dictionary={'name':['yadu','alen','akshay'],'age':[10,20,30],'mark':[30,25,20]}
dataframe=pd.DataFrame(dictionary)
print(dataframe)

     name  age  mark
0    yadu   10    30
1    alen   20    25
2  akshay   30    20

In [5]:
import pandas as pd
lists = [[1, 'Vishnu', 22],
         [2, 'Krish', 25],
         [3, 'Amaljith', 24]]

dataframe = pd.DataFrame(lists, columns = ['rollno', 'name', 'age'])

print(dataframe)

   rollno      name  age
0       1    Vishnu   22
1       2     Krish   25
2       3  Amaljith   24

In [7]:
import pandas as pd
dataframe = pd.read_csv('data1.csv')

print(dataframe)

Empty DataFrame
Columns: [hai, hello, welcome]
Index: []

In [8]:
import pandas as pd
lists = [[3, 'Vishnu', 22],
         [2, 'Krish', 25],
         [1, 'Amaljith', 24]]

dataframe = pd.DataFrame(lists, columns = ['rollno', 'name', 'age'])

print(dataframe)


print()

dataframe_sorted = dataframe.sort_values(by = ['rollno', 'age']) # dataframe after sorting by 'id' and 'age'

print(dataframe_sorted)

   rollno      name  age
0       3    Vishnu   22
1       2     Krish   25
2       1  Amaljith   24

   rollno      name  age
2       1  Amaljith   24
1       2     Krish   25
0       3    Vishnu   22

In [9]:
import pandas as pd
lists = [[30, 'Vishnu', 22],
         [23, 'Krish', 25],
         [12, 'Amaljith', 24]]

dataframe = pd.DataFrame(lists, columns = ['rollno', 'name', 'age'])


print(dataframe)
print()

dataframe = dataframe.reset_index()

print(dataframe)

   rollno      name  age
0      30    Vishnu   22
1      23     Krish   25
2      12  Amaljith   24

   index  rollno      name  age
0      0      30    Vishnu   22
1      1      23     Krish   25
2      2      12  Amaljith   24

In [10]:
import pandas as pd
lists = [[30, 'Vishnu', 22],
         [23, 'Krish', 25],
         [12, 'Amaljith', 24]]

dataframe = pd.DataFrame(lists, columns = ['rollno', 'name', 'age'])

print(dataframe)

print()

o = dataframe.iloc[[0,1], :]

print(o)

   rollno      name  age
0      30    Vishnu   22
1      23     Krish   25
2      12  Amaljith   24

   rollno    name  age
0      30  Vishnu   22
1      23   Krish   25

In [11]:
import pandas as pd
lists = [['Vishnu','doctor', 22000],
         ['Vivek','doctor', 28000],
         ['achu','farmer', 1500],
         ['minnu','doctor', 22000],
         ['Krish', 'engineer',25000],
         ['Amaljith','farmer', 2000]]

dataframe = pd.DataFrame(lists, columns = ['name','occupation', 'salary'])

print(dataframe) 
print()

occ_average_age = dataframe.groupby('occupation')['salary'].mean()

print(occ_average_age)

       name occupation  salary
0    Vishnu     doctor   22000
1     Vivek     doctor   28000
2      achu     farmer    1500
3     minnu     doctor   22000
4     Krish   engineer   25000
5  Amaljith     farmer    2000

occupation
doctor      24000.0
engineer    25000.0
farmer       1750.0
Name: salary, dtype: float64

In [12]:
import pandas as pd
import numpy as np
lists = [['Vishnu','doctor', 22000],
         ['Vivek','doctor', np.nan],
         ['achu','farmer', 1500],
         ['minnu','doctor',np.nan],
         ['Krish', 'engineer',25000],
         ['Amaljith','farmer',np.nan]]

dataframe = pd.DataFrame(lists, columns = ['name','occupation', 'salary'])

print(dataframe) 

print()

dataframe_nullfill = dataframe.fillna(0)

print(dataframe_nullfill)

       name occupation   salary
0    Vishnu     doctor  22000.0
1     Vivek     doctor      NaN
2      achu     farmer   1500.0
3     minnu     doctor      NaN
4     Krish   engineer  25000.0
5  Amaljith     farmer      NaN

       name occupation   salary
0    Vishnu     doctor  22000.0
1     Vivek     doctor      0.0
2      achu     farmer   1500.0
3     minnu     doctor      0.0
4     Krish   engineer  25000.0
5  Amaljith     farmer      0.0

In [13]:
import pandas as pd

lists = [['UST', +22000],
         ['VIRTUSA', +28000],
         ['COGNIZANT', +1500],
         ['TCS', -22000],
         ['CAPGWMINI',-25000]]

company_data= pd.DataFrame(lists, columns = ['c_name','profit'])
print(company_data) # original dataframe

print()

company_data['profit'] = company_data['profit'].apply(lambda x:x>0)

print(company_data)

      c_name  profit
0        UST   22000
1    VIRTUSA   28000
2  COGNIZANT    1500
3        TCS  -22000
4  CAPGWMINI  -25000

      c_name  profit
0        UST    True
1    VIRTUSA    True
2  COGNIZANT    True
3        TCS   False
4  CAPGWMINI   False

In [14]:
import pandas as pd
list1 = [[1, 'Vishnu', 2200],
         [2, 'Krish', 2500],
         [3, 'Amaljith', 2400]]

emp_data= pd.DataFrame(list1, columns = ['eid', 'ename', 'stipend'])
print(emp_data) 
print()

list2 = [[1, 'CEO'],
         [2, 'MANAGER'],
         [3, 'INTERN']]

comp_data= pd.DataFrame(list2, columns = ['eid', 'position'])

print(comp_data)
print()

dataframe = pd.merge(emp_data, comp_data, how = 'inner', on = 'eid') 
print(dataframe)

   eid     ename  stipend
0    1    Vishnu     2200
1    2     Krish     2500
2    3  Amaljith     2400

   eid position
0    1      CEO
1    2  MANAGER
2    3   INTERN

   eid     ename  stipend position
0    1    Vishnu     2200      CEO
1    2     Krish     2500  MANAGER
2    3  Amaljith     2400   INTERN